/*div o contenido del login*/
div#login{
	background:white;
	width:100%;
	height:196px;
	position:absolute;
	left:0;
	margin-top:16%;
	border-top:1px solid#000;
	border-bottom:1px solid#000;
    box-shadow: 0px 1px 144px 33px rgba(9,9,9,.6);
}

/*Input*/

/*Estilos de todos los input*/
input{
	width:15%;
	height:5%;
	border:1px solid#000;
	border-radius:6px;
	box-shadow: 2px 5px 5px 3px rgba(5,5,5,.5);
	text-align:center;
}

/*Estilo para el input username*/
input#username{
	position: fixed;
	top: 40%;
	left: 41%;
}

/*Estilo para el input password*/
input#password{
	position: fixed;
	top: 51%;
	left: 41%;
}

/*Estilo para el boton ingresar*/
input#ingresar{
	position: fixed;
	left: 44%;
	top: 61%; 
	width:9%;
	height:5%;
}

/*Estilo para el placeholder de los input*/
input::-webkit-input-placeholder {
	color:rgba(45,45,45,.55); 
	font-weight:bold; 
	text-align:center;
}

/*Imagenes*/

/*Imagen de logo de UTN*/
img{
	position: absolute;
	left: 40%;
	top: 6%;
}

/*Imagen dentro del texto de username*/
img.user{
	width: 2%;
	left: 41%;
	top: 15%;
}

/*Imagen dentro del texto de password*/
img.password{
	width: 2%;
	left: 41%;
	top: 48%;
}