@charset "utf-8";
body{
  background: #e5e5e5;
  font-family: verdana;
  font-size: 1em;
}

/*Tab Menu*/
#navbar {
	width:100%;
	position:absolute;
  top:182px;
  left:146px;
	
}

/*Datos del Holder del tab Menu*/
#navbar #holder{
	height:64px;
	border-bottom:1px solid #000;
	width:57%;
	padding-left:54px;
}


/*Datos de la etiqueta ul del Holder del tab Menu*/
#navbar #holder ul{
	list-style:none;
	margin:0;
	padding:0;
	
}

/*Datos de la etiqueta ul li y a del Holder del tab Menu*/
#navbar #holder ul li a{
	text-decoration:none;
	float:left;
	margin-right:5px;
	font-family: "Arial Black", Gadget, sans-serif;
	color:#000;
	border: 1px solid#000;
	border-bottom:none;
	padding:20px;
	width:95px;
	text-align:center;
	display:block;
	background:#69F;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	-webkit-border-top-left-radius:15px;
  -webkit-border-top-right-radius:15px; 
	
}

/*Hover del ul li y a del tab Menu*/
#navbar #holder ul li a:hover{
	background:#F90;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}

/*Onlink para tener seleccionado donde le de click*/
#holder ul li a#onlink{
	background:#fff;
	color:#000;
	border-bottom:1px solid#FFF;
	
}

/*El hover del OnLink*/
#holder ul li a#onlink:hover {
	backgroud:#fff;
	color:#69f;
	text-shadow:1px 1px 1px #000;
}

/*links*/

/*Link de Salir de admin*/
a#salir{
  position: absolute;
  right: 2%;
  top: 4%;
  
}

/*Link del Dashboard*/
a#dashboard{
  position:absolute;
  left:169px;
  top:141px;
  font-size: 1em;
  color:  blue;
}

/*Link del nombre dentro del tr del Estudiante*/
a.nombre{
  text-decoration:none;
  color: black;
}

/*Parrafos*/

/*Texto de Salir que dice Hola Admin*/
p#salir{
  position: absolute;
  right:5%;
  font-family: "Arial Black", Gadget, sans-serif;
}

/*Texto que dice Perfiles a la par del logo UTN*/
p#perfil{
  font-size:3em;
  font-family: verdana;
  position: absolute;
  left:278px;
  top:0px;
  color:rgb(13, 29, 110);
}

/*Texto o figura ">"*/
p#dashboard{
  position:absolute;
  top:125px;
  left:263px;
  font-size: 1em;
}

/*Texto que nos dice donde estamos ubicados*/
p#ubicado{
  position:absolute;
  top:123px;
  left:283px;
  font-size: 1em;
  font-family: "Arial Black", Gadget, sans-serif;
}

/*div*/

/*Div donde se encuentra los datos que necesitamos debajo del tab Menu*/
div.tabContent{
  position:absolute;
  top:242px;
  left:134px;
  border: 1px solid#000;
  margin: 4px 0;
  padding: 5px;
  padding-right: 29%;
  width: 41%;
  height: 250px;
  box-shadow: 6px 15px 0px 10px rgba(6,6,6,.6);
  -webkit-border-radius: 14px;  
}

/*Imagenes*/

/*Imagen de UTN*/
img.logo{
  width:8%;
  position: absolute;
  top:7%;
  left: 13%;

}

/*Imagen de Editar y Eliminar dentro del table*/
img.opciones{
  margin-left: 16%;
  margin-top: 5%;
}

/*Imagen de agregar Carrera, Estudiante y Usuario*/
img.agregar{
  position: absolute;
  left: 93%;
  top: 10%;
}

/*Table*/
table{ 
  width:144%;
  border-spacing: 0px;
  border-color: #000;
  text-align:center;
}

/*El head o encabezado del table*/
table thead{
  font-family: "Arial Black", Gadget, sans-serif;

}

/*Tamaño del row del table*/
table tr{
  height:40px;

}






